body{
    display: flex;
    flex-direction: column;
    font-family: "roboto",Arial;
    margin: 0px;
}

.header{
    display: flex;
    background-color: #1f2937;
    justify-content: space-around;
    gap: 20px;
}

.logo{
    display: flex;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

ul{
    list-style: none;
    display: flex;
    gap: 50px;
    padding: 0;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.container1{
    background-color: #1f2937;
    color: white;
    height: 220px;
    display: flex;
    padding: 100px;
    justify-content: space-around;
}

.headtxt1{
    font-size: 48px;
    font-weight: bolder;
    color: #e5e7eb;
}

.subtext{
    font-size: 18px;
}

.img1{
    height: 250px;
    width: 500px;
    border: 0;
    object-fit: cover;
}

.button1{
    border-radius: 12px;
    padding: 6px 15px;
    font-weight: bold;
    background-color: #3882f6;
    color: #e5e7eb;
    border: 0px;
}

.headtxt2{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 65px;
    font-size: 30px;
    font-weight: bold;
}

.info{
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 350px;
}

.subinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

img{
    height: 150px;
    width: 200px;
    border: 5px solid maroon;
    border-radius: 12px;
    object-fit: cover;
}

.itext{
    text-align: center;
}

.quote{
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
    background-color: #e5e7eb;
    height: 300px;
}

.iquote{
    font-size: 36px;
    font-style: italic;
}

.signup{
    display: flex;
    justify-content: space-around;
    height: 145px;
    background-color: #3882f6;
    margin: 60px;
    border-radius: 20px;
    color: white;
}

.author{
    text-align: right;
    font-weight: bold;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
    height: 50px;
}

.button2{
    display: flex;
    align-self: center;
    border-color: white;
    background-color: #3882f6;
    color: white;
    border-radius: 12px;
    padding: 6px 15px;
    font-weight: bold;
}

.txt2{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
}

strong{
    align-self: flex-start;
    font-size: larger;
    font-weight: bolder;
    font-size: 24px;
}

.textcontain{
    display: flex;
    flex-direction: column;
}
